*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-height: 53.125em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Montserrat", sans-serif;
  color: #737a79;
  font-weight: 300;
  line-height: 1.6;
  background-color: #eee;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.container {
  display: grid;
  grid-template-rows: 80vh repeat(3, min-content) 35vh;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-height: 34.375em) {
    .container {
      grid-template-rows: max-content repeat(3, min-content) min-content; } }

.container-form {
  display: grid;
  grid-template-rows: 100vh 35vh;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-height: 50em) {
    .container-form {
      grid-template-rows: max-content min-content; } }

.container-track {
  display: grid;
  grid-template-rows: 80vh repeat(2, min-content) 35vh;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-height: 40.625em) {
    .container-track {
      grid-template-rows: max-content repeat(2, min-content) min-content; } }

.spacing-fix {
  letter-spacing: 0; }

::selection {
  background-color: rgba(198, 153, 99, 0.5); }

.header {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  background-image: linear-gradient(100deg, #242424 0%, rgba(36, 36, 36, 0.98) 55%, transparent 55%, transparent 100%), url("../img/hero.jpg");
  background-size: cover;
  background-position: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 50em) {
    .header {
      background-image: linear-gradient(100deg, #242424 0%, rgba(36, 36, 36, 0.98) 70%, transparent 70%, transparent 100%), url("../img/hero.jpg"); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      background-image: linear-gradient(100deg, rgba(36, 36, 36, 0.95), rgba(36, 36, 36, 0.95)), url("../img/hero.jpg");
      grid-template-columns: 1fr; } }
  .header__left {
    padding: 8rem;
    padding-top: 4rem;
    display: grid;
    grid-template-rows: 1fr repeat(3, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    justify-content: center;
    align-content: center; }
    @media only screen and (max-width: 37.5em) {
      .header__left {
        padding: 4rem; } }
    @media only screen and (max-width: 21.875em) {
      .header__left {
        padding: 3rem; } }
  .header__btn {
    justify-self: start;
    align-self: end; }
  .header__logo {
    justify-self: center; }
    @media only screen and (max-width: 75em) {
      .header__logo {
        justify-self: start; } }
    @media only screen and (max-height: 34.375em) {
      .header__logo {
        margin-bottom: 6rem; } }
  .header__logo-position {
    display: flex;
    align-items: center; }
  .header__logo-image {
    height: 10rem;
    transform: rotate(0deg);
    margin-right: 1rem; }
    @media only screen and (max-width: 21.875em) {
      .header__logo-image {
        height: 7rem; } }
  .header__logo-title {
    font-size: 2.2rem;
    color: #956e43;
    font-weight: 400;
    letter-spacing: 3px; }
    @media only screen and (max-width: 21.875em) {
      .header__logo-title {
        font-size: 1.6rem; } }

.heading-1 {
  font-size: 4.5rem;
  color: #cdcdcd;
  line-height: 1;
  font-weight: 600; }
  @media only screen and (max-width: 21.875em) {
    .heading-1 {
      font-size: 3rem; } }

.heading-2 {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 400;
  color: #737a79;
  text-transform: uppercase;
  letter-spacing: 7px; }
  @media only screen and (max-width: 21.875em) {
    .heading-2 {
      font-size: 2rem; } }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase;
  letter-spacing: 5px; }
  @media only screen and (max-width: 21.875em) {
    .heading-3 {
      font-size: 1.4rem; } }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #8b9493; }

.btn {
  background-color: transparent; }
  .btn, .btn:active, .btn:visited, .btn:focus {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 2rem;
    text-transform: uppercase;
    color: #8b9493;
    transition: all 0.2s;
    position: relative;
    outline: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 300; }
  .btn:hover {
    transform: translateY(-3px);
    color: #242424;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .btn--primary {
    border: 2px solid #c69963; }
    .btn--primary::before {
      content: "";
      height: 90%;
      width: 106%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid #8b9493;
      transition: all 0.2s; }
    .btn--primary:hover {
      background-color: #c69963; }
      .btn--primary:hover::before {
        opacity: 0; }
  .btn--secondary {
    border: 2px solid #8b9493; }
    .btn--secondary:hover {
      background-color: #8b9493; }

.search {
  grid-column: center-start / center-end;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .search__title {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .search__title .heading-1 {
      text-transform: uppercase;
      letter-spacing: 10px;
      text-align: center; }
      @media only screen and (max-width: 37.5em) {
        .search__title .heading-1 {
          letter-spacing: 5px; } }
    .search__title .heading-3 {
      letter-spacing: 20px;
      margin: 3.5rem 0;
      margin-top: 2rem;
      text-align: center; }
      @media only screen and (max-width: 37.5em) {
        .search__title .heading-3 {
          letter-spacing: 10px; } }
  .search__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .search__input-text {
    width: 50%;
    background-color: transparent;
    border: 0px solid transparent;
    border-bottom: 3px solid #c69963;
    outline: none;
    text-align: center;
    font-size: 2.5rem;
    color: #737a79;
    padding-bottom: 0.5rem;
    border-radius: 0;
    transition: all 0.2s; }
    .search__input-text::placeholder {
      font-family: "Montserrat", sans-serif;
      color: rgba(115, 122, 121, 0.5);
      font-weight: 300; }
    .search__input-text:focus {
      width: 60%; }
    @media only screen and (max-width: 50em) {
      .search__input-text {
        width: 70%; }
        .search__input-text:focus {
          width: 80%; } }
    @media only screen and (max-width: 31.25em) {
      .search__input-text {
        width: 90%; }
        .search__input-text:focus {
          width: 100%; } }
    @media only screen and (max-width: 21.875em) {
      .search__input-text {
        font-size: 2rem; } }
  .search__choose {
    margin-top: 3rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .search__radio {
    margin-top: 1rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 20rem)); }
  .search__radio-group {
    justify-self: center;
    align-self: center; }
  .search__radio-input {
    display: none; }
  .search__radio-label {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; }
  .search__radio-button {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.5rem solid rgba(198, 153, 99, 0.7);
    position: relative;
    box-sizing: content-box;
    transition: all 0.2s; }
    .search__radio-button:hover {
      border: 0.5rem solid #c69963; }
      .search__radio-button:hover::before {
        background-color: #c69963; }
    @media only screen and (max-width: 21.875em) {
      .search__radio-button {
        width: 2.5rem;
        height: 2.5rem; } }
    .search__radio-button::before {
      content: "";
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: rgba(198, 153, 99, 0.7);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s;
      opacity: 0; }
      @media only screen and (max-width: 21.875em) {
        .search__radio-button::before {
          width: 1.5rem;
          height: 1.5rem; } }
  .search__radio-input:checked + .search__radio-label .search__radio-button::before {
    opacity: 1; }
  .search__button, .search__button:active, .search__button:focus {
    padding: 2rem 10rem; }
    @media only screen and (max-width: 37.5em) {
      .search__button, .search__button:active, .search__button:focus {
        padding: 2rem 8rem; } }
    @media only screen and (max-width: 21.875em) {
      .search__button, .search__button:active, .search__button:focus {
        padding: 2rem 6rem; } }

.cards {
  grid-row: 4 / 5;
  grid-column: center-start / center-end;
  background-color: #dfdfdf;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 0.33fr));
  grid-gap: 7rem;
  justify-content: center;
  padding-bottom: 10rem; }
  @media only screen and (max-width: 58.125em) {
    .cards {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 0.4fr)); } }
  @media only screen and (max-width: 39.375em) {
    .cards {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 0.65fr)); } }
  @media only screen and (max-width: 31.25em) {
    .cards {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 0.8fr)); } }
  .cards__title {
    grid-row: 3 / 4;
    grid-column: full-start / full-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #dfdfdf;
    padding-top: 10rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem; }
    .cards__title .heading-1 {
      color: #8b9493;
      text-transform: uppercase;
      letter-spacing: 15px;
      text-align: center; }
    .cards__title .heading-3 {
      letter-spacing: 15px;
      margin: 3.5rem 0;
      margin-top: 2rem;
      text-align: center; }

.cards-left {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  background-color: #dfdfdf; }

.cards-right {
  grid-row: 4 / 5;
  grid-column: 10 / 11;
  background-color: #dfdfdf; }

.card {
  transition: all 0.4s;
  position: relative;
  height: 100%;
  background-color: #eee; }
  .card__top {
    height: 22.5rem;
    background-image: linear-gradient(to right bottom, rgba(60, 60, 60, 0.98), rgba(36, 36, 36, 0.98)), url(../img/card.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .card__title {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #cdcdcd;
    padding: 0 2.5rem;
    line-height: 1; }
  .card__composer {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.8rem;
    color: #c69963; }
  .card__bottom {
    background-color: #eee;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 1.5rem; }
  .card .card__year, .card .card__duration, .card .card__key {
    font-size: 1.8rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    text-align: center; }
    .card .card__year span, .card .card__duration span, .card .card__key span {
      font-size: 1.6rem;
      color: #c69963;
      font-weight: 300;
      letter-spacing: 3px; }
  .card__key {
    grid-column: 1 / -1;
    margin-bottom: 2rem; }
  .card__btn {
    grid-column: 1 / -1;
    margin-bottom: 3.5rem; }
  .card::before {
    content: "";
    width: 92%;
    height: 95%;
    border: 2px solid #c69963;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s; }
  .card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15); }
    .card:hover::before {
      width: 110%;
      height: 106%; }

.footer {
  background-color: #242424;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: minmax(min-content, 114rem);
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(3, 1fr); }
  .footer--last {
    grid-row: 5 / 6; }
  .footer__info {
    justify-self: stretch;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem; }
    @media only screen and (max-width: 33.125em) {
      .footer__info {
        justify-content: center; } }
  .footer__item {
    transition: all 0.2s;
    padding: 1.5rem; }
    .footer__item:hover {
      transform: scale(1.05); }
  .footer__link {
    color: #8b9493;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #cdcdcd; }
    @media only screen and (max-width: 21.875em) {
      .footer__link {
        font-size: 1.4rem; } }
  .footer__split {
    display: flex;
    align-items: center;
    width: 82.5%; }
  .footer__split-before {
    height: 2px;
    width: 100%;
    background-color: #956e43;
    display: inline-block; }
  .footer__split-after {
    height: 2px;
    width: 100%;
    background-color: #956e43;
    display: inline-block; }
  .footer__img {
    height: 6rem;
    margin: 0 2rem; }
  .footer__copyright {
    font-size: 1.4rem;
    color: #737a79; }

.navbar__checkbox {
  display: none; }

.navbar__user {
  position: fixed;
  color: #c69963;
  font-size: 2rem;
  top: 2.5rem;
  right: 12.5rem;
  transform: translateY(60%);
  z-index: 2000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  text-transform: uppercase; }
  @media only screen and (max-width: 37.5em) {
    .navbar__user {
      transform: translateY(35%); } }

.navbar__checkbox:checked ~ .navbar__user {
  visibility: visible;
  opacity: 1; }

.navbar__label {
  height: 7rem;
  width: 7rem;
  background-color: #292929;
  border-radius: 50%;
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.35);
  cursor: pointer;
  z-index: 2000; }
  @media only screen and (max-width: 37.5em) {
    .navbar__label {
      top: 1.75rem;
      right: 1.75rem;
      height: 6rem;
      width: 6rem; } }

.navbar__label-line {
  background-color: #c69963;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .navbar__label-line, .navbar__label-line::before, .navbar__label-line::after {
    height: 2px;
    width: 3rem;
    background-color: #c69963;
    position: absolute;
    transition: all 0.2s; }
    @media only screen and (max-width: 37.5em) {
      .navbar__label-line, .navbar__label-line::before, .navbar__label-line::after {
        width: 2.25rem; } }
  .navbar__label-line::before, .navbar__label-line::after {
    content: "";
    left: 0; }
  .navbar__label-line::before {
    top: -0.8rem; }
  .navbar__label-line::after {
    top: 0.8rem; }

.navbar__label:hover .navbar__label-line::before {
  top: -1rem; }

.navbar__label:hover .navbar__label-line::after {
  top: 1rem; }

.navbar__checkbox:checked + .navbar__label .navbar__label-line {
  background-color: transparent; }

.navbar__checkbox:checked + .navbar__label .navbar__label-line::before {
  top: 0;
  transform: rotate(135deg); }

.navbar__checkbox:checked + .navbar__label .navbar__label-line::after {
  top: 0;
  transform: rotate(-135deg); }

.navbar__checkbox:checked + .navbar__label:hover .navbar__label-line::before {
  transform: rotate(135deg) scale(1.1); }

.navbar__checkbox:checked + .navbar__label:hover .navbar__label-line::after {
  transform: rotate(-135deg) scale(1.1); }

.navbar__back {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px) brightness(0.3);
  z-index: 1500;
  -webkit-backdrop-filter: blur(15px) brightness(0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in; }

.navbar__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  position: relative;
  transform-style: preserve-3d;
  width: 25vw;
  height: 60vh; }
  @media only screen and (max-height: 21.875em) {
    .navbar__list {
      height: 50vh; } }
  @media only screen and (max-height: 15.625em) {
    .navbar__list {
      height: 40vh; } }
  @media only screen and (max-width: 65.625em) {
    .navbar__list {
      width: 40vw; } }
  @media only screen and (max-width: 53.125em) {
    .navbar__list {
      width: 45vw; } }
  @media only screen and (max-width: 40.625em) {
    .navbar__list {
      width: 55vw; } }
  @media only screen and (max-width: 31.25em) {
    .navbar__list {
      width: 65vw; } }
  @media only screen and (max-width: 25em) {
    .navbar__list {
      width: 80vw; } }
  @media only screen and (max-width: 20.9375em) {
    .navbar__list {
      width: 90vw; } }
  .navbar__list::before, .navbar__list::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-out; }
  .navbar__list::before {
    width: 110%;
    height: 95%;
    border: 2px solid #c69963; }
  .navbar__list::after {
    width: 85%;
    height: 105%;
    border: 2px solid #8b9493; }

.navbar__checkbox:checked ~ .navbar__back .navbar__list:hover::before {
  height: 105%;
  width: 120%; }

.navbar__checkbox:checked ~ .navbar__back .navbar__list:hover::after {
  width: 105%;
  height: 115%; }

.navbar__item {
  padding: 4rem 0;
  transform: translateZ(1px);
  transition: 0.2s;
  text-align: center; }
  .navbar__item:hover {
    transform: translateZ(1px) scale(1.1); }
  @media only screen and (max-height: 40.625em) {
    .navbar__item {
      padding: 3rem 0; } }
  @media only screen and (max-height: 34.375em) {
    .navbar__item {
      padding: 2rem 0; } }
  @media only screen and (max-height: 28.125em) {
    .navbar__item {
      padding: 1rem 0; } }
  @media only screen and (max-height: 23.4375em) {
    .navbar__item {
      padding: 0.5rem 0; } }

.navbar__link {
  text-decoration: none;
  font-size: 2.5rem;
  color: #c69963;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center; }

.navbar__checkbox:checked ~ .navbar__back {
  visibility: visible;
  opacity: 1; }

.form {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to right bottom, rgba(36, 36, 36, 0.97), rgba(60, 60, 60, 0.97)), url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-height: 50em) {
    .form {
      padding-top: 14rem;
      padding-bottom: 12rem; } }
  .form__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .form__input {
    width: 50rem;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 0;
    border: none;
    border-bottom: 3px solid #c69963;
    outline: none;
    text-align: center;
    font-size: 2.5rem;
    color: #cdcdcd;
    padding-bottom: 0.5rem;
    margin-bottom: 5rem;
    transition: all 0.2s; }
    @media only screen and (max-width: 31.25em) {
      .form__input {
        width: 80vw; } }
    .form__input::placeholder {
      font-family: "Montserrat", sans-serif;
      color: rgba(115, 122, 121, 0.7);
      font-weight: 300; }
    .form__input:focus {
      width: 55rem; }
      @media only screen and (max-width: 31.25em) {
        .form__input:focus {
          width: 85vw; } }
    .form__input--small {
      margin-bottom: 3rem; }
  .form__btn, .form__btn:active, .form__btn:focus {
    padding: 2rem 10rem;
    margin-top: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .form__btn, .form__btn:active, .form__btn:focus {
        padding: 2rem 8rem; } }
    @media only screen and (max-width: 21.875em) {
      .form__btn, .form__btn:active, .form__btn:focus {
        padding: 2rem 6rem; } }
  .form__btn {
    color: #cdcdcd; }
  .form__logo {
    position: fixed;
    top: 2.5rem;
    left: 2.5rem; }
    @media only screen and (max-width: 93.75em) {
      .form__logo {
        position: absolute; } }
    @media only screen and (max-width: 37.5em) {
      .form__logo {
        top: 1.75rem;
        left: 1.75rem; } }
  .form__logo-position {
    display: flex;
    align-items: center;
    text-decoration: none; }
  .form__logo-image {
    height: 7rem; }
    @media only screen and (max-width: 37.5em) {
      .form__logo-image {
        height: 6rem; } }
  .form__logo-title {
    font-size: 1.6rem;
    color: #956e43;
    font-weight: 400;
    letter-spacing: 3px;
    margin-left: 1rem; }
  .form__file {
    display: none; }
  .form__label {
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .form__label .btn {
      color: #cdcdcd; }
  .form__error {
    font-size: 1.8rem;
    color: #c69963; }
  .form__file-title {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    align-items: center;
    font-size: 1.6rem;
    color: #c69963; }
  .form__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 3.5rem;
    text-align: center; }
    .form__title .heading-1 {
      text-transform: uppercase;
      letter-spacing: 20px;
      text-align: center; }
      @media only screen and (max-width: 43.75em) {
        .form__title .heading-1 {
          letter-spacing: 10px; } }
    .form__title .heading-3 {
      letter-spacing: 15px;
      margin-top: 2rem;
      text-align: center; }
      @media only screen and (max-width: 43.75em) {
        .form__title .heading-3 {
          letter-spacing: 7px; } }
  .form__title-btn, .form__title-btn:active, .form__title-btn:visited, .form__title-btn:focus {
    padding: 2rem 10rem; }
    .form__title-btn:not(:last-child), .form__title-btn:active:not(:last-child), .form__title-btn:visited:not(:last-child), .form__title-btn:focus:not(:last-child) {
      margin: 3rem 0; }
  .form__title-btn {
    color: #cdcdcd; }

.track {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to right bottom, rgba(60, 60, 60, 0.98), rgba(36, 36, 36, 0.98)), url(../img/card.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-height: 40.625em) {
    .track__container {
      padding: 10rem 0; } }
  .track__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    text-align: center; }
  .track__heading-1 {
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: 500;
    padding: 0 2rem; }
    @media only screen and (max-width: 37.5em) {
      .track__heading-1 {
        font-size: 6rem; } }
    @media only screen and (max-width: 21.875em) {
      .track__heading-1 {
        font-size: 5rem; } }
  .track__heading-3 {
    font-weight: 300;
    font-size: 3.5rem;
    letter-spacing: 3px; }
    @media only screen and (max-width: 37.5em) {
      .track__heading-3 {
        font-size: 3rem; } }
  .track__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .track__info-item {
    font-size: 2.8rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    margin: 0.5rem 0;
    letter-spacing: 3px;
    color: #8b9493; }
    @media only screen and (max-width: 37.5em) {
      .track__info-item {
        font-size: 2.5rem; } }
    .track__info-item span {
      font-size: 1.8rem;
      color: #c69963;
      font-weight: 300;
      letter-spacing: 3px; }
  .track__posted {
    font-size: 1.6rem;
    margin-top: 2.5rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    padding: 0 1rem; }
    .track__posted span {
      font-weight: 500;
      font-size: 1.8rem;
      text-transform: uppercase;
      letter-spacing: 0; }

.video {
  grid-column: full-start / full-end;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dfdfdf; }
  .video__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem; }
    .video__title .heading-1 {
      color: #8b9493;
      text-transform: uppercase;
      letter-spacing: 20px;
      text-align: center; }
      @media only screen and (max-width: 37.5em) {
        .video__title .heading-1 {
          font-size: 3.8rem;
          letter-spacing: 10px; } }
      @media only screen and (max-width: 21.875em) {
        .video__title .heading-1 {
          font-size: 3rem; } }
    .video__title .heading-3 {
      letter-spacing: 15px;
      margin: 3.5rem 0;
      margin-top: 2rem;
      text-align: center; }
      @media only screen and (max-width: 37.5em) {
        .video__title .heading-3 {
          letter-spacing: 7.5px; } }
      @media only screen and (max-width: 21.875em) {
        .video__title .heading-3 {
          font-size: 1.4rem; } }
  .video__container {
    width: 50%; }
    @media only screen and (max-width: 50em) {
      .video__container {
        width: 65%; } }
    @media only screen and (max-width: 37.5em) {
      .video__container {
        width: 75%; } }
  .video__youtube {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%; }
    .video__youtube iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.pdf {
  grid-row: 3 / 4;
  grid-column: full-start / full-end;
  background-color: #eee;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .pdf__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem; }
    .pdf__title .heading-1 {
      text-transform: uppercase;
      letter-spacing: 20px;
      text-align: center; }
      @media only screen and (max-width: 37.5em) {
        .pdf__title .heading-1 {
          font-size: 3.8rem;
          letter-spacing: 10px; } }
      @media only screen and (max-width: 21.875em) {
        .pdf__title .heading-1 {
          font-size: 3rem; } }
    .pdf__title .heading-3 {
      letter-spacing: 15px;
      margin: 3.5rem 0;
      margin-top: 2rem;
      text-align: center; }
      @media only screen and (max-width: 37.5em) {
        .pdf__title .heading-3 {
          letter-spacing: 7.5px; } }
      @media only screen and (max-width: 21.875em) {
        .pdf__title .heading-3 {
          font-size: 1.4rem; } }
  .pdf__controls {
    display: flex;
    justify-content: center;
    align-items: center; }
  .pdf__button {
    border: none;
    background-color: transparent;
    outline: none;
    transition: all 0.2s;
    cursor: pointer; }
    .pdf__button svg {
      width: 4rem;
      height: 4rem;
      fill: #c69963; }
    .pdf__button:hover {
      transform: translateY(-3px); }
    .pdf__button:active {
      transform: translateY(-1px); }
  .pdf__info {
    font-size: 2.5rem;
    margin: 0 1rem; }
  .pdf__render {
    margin-top: 2rem;
    border: 2px solid #c69963; }
    @media only screen and (max-width: 43.75em) {
      .pdf__render {
        width: 85vw; } }
  .pdf__btn, .pdf__btn:active, .pdf__btn:visited, .pdf__btn:focus {
    margin-top: 3.5rem;
    padding: 2rem 10rem; }
    @media only screen and (max-width: 37.5em) {
      .pdf__btn, .pdf__btn:active, .pdf__btn:visited, .pdf__btn:focus {
        padding: 2rem 8rem; } }
    @media only screen and (max-width: 21.875em) {
      .pdf__btn, .pdf__btn:active, .pdf__btn:visited, .pdf__btn:focus {
        padding: 2rem 6rem; } }
