.heading-1 {
  font-size: 4.5rem;
  color: $color-grey-light-2;
  line-height: 1;
  font-weight: 600;
}

.heading-2 {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 400;
  color: #737a79;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.heading-3 {
  font-size: 1.6rem;
  color: $color-primary;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.heading-4 {
  font-size: 1.9rem;

  &--light {
    color: $color-grey-light-1;
  }

  &--dark {
    color: $color-grey-dark-1;
  }
}
